body {
  font-family: Georgia, Arial, sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  background-color: #d8cbb8;
  padding: 16px;
}

.title,
.one,
.three {
  text-align: center;
  color: #4a3c31;
}

.one{
  font-style: italic;
}

.two {
  background-color: #4a3c31;
  color: #d8cbb8;
  margin-top: 30px;
  padding: 8px;
}

a.three {
  display: block;
  font-style: italic;
}

.one,
.three {
  font-size: 13px;
}
}
