body {
  font-family: Georgia, Arial, sans-serif;
  font-size: 15px;
}

.container {
  margin: 0 auto;
  background-color: #d8cbb8;
  padding: 16px;
}

.title,
.one,
.three {
  text-align: center;
  color: #4a3c31;
}

.one{
  font-style: italic;
}
